.bg-grey{
    padding:20px;
    background-color: rgba(0, 0, 0, 0.5)!important;
    text-align: left;
   
}

.copy-text{
    font-size: 1.2rem;
}

.social-icon,
.social-icon a{
    font-size: 2rem;
    margin-left: 20px;
    color:white;  
}

.float-right{
    float: right!important;
    text-align: right;
}

.link,
a {
    color: var(--bs-purple);
  text-decoration: none!important;
}

